@import '~bootstrap/scss/bootstrap';

@import '~@fontsource/montserrat/index.css';
@import '~@fontsource/montserrat/500.css';
@import '~@fontsource/montserrat/600.css';
@import '~@fontsource/montserrat/700.css';
@import '~@fontsource/montserrat/800.css';
@import '~@fontsource/montserrat/900.css';


body{
  font-family: 'Roboto', sans-serif;
  background-color: #1E2D3B;
  color: white;
}